<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base/wrapper">
  <head>
    <title>Davor Sauer : About</title>
  </head>
  <body>
    <div layout:fragment="content">
		<section id="about">
			<div class="row">
				<div class="column span_12">
					<div id="about_box">
						
						<div class="row">
							<div class="column span_9">
								<h5 class="about_me">
								  <span>About Me</span>
								</h5>
							</div>
								<div class="column span_3">
									<ul class="menu">
					                    <li><a th:href="@{/portfolio}">Portfolio</a></li>
					                    <li><a th:href="@{/contact}">Contact</a></li>
					                </ul>
								</div>
						</div>
						
						
						<div class="clear"></div>
						
						<div th:utext="${about_content}">

						</div>

					</div>
				</div>
	
			</div>
	
		</section>
     </div>
  </body>
</html>
