<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base/wrapper">
  <head>
    <title>Davor Sauer : About</title>
  </head>
  <body>
    <div layout:fragment="content">
		<section id="about">
			<div class="row">
				<div class="column span_12">
					<div id="about_box">
						
						<div class="row">
							<div class="column span_9">
								<h5 class="about_me">
								  <span>About Me</span>
								</h5>
							</div>
								<div class="column span_3">
									<ul class="menu">
					                    <li><a th:href="@{/portfolio}">Portfolio</a></li>
					                    <li><a th:href="@{/contact}">Contact</a></li>
					                </ul>
								</div>
						</div>
						
						
						<div class="clear"></div>
						
						<p>
	                    I’m software engineer with most background in developing web based business applications. 
	                    Above all I prefer elegant solutions, mostly in Java. But I’m also opened for other technologies, 
	                    languages and approaches and most of all...challenges and opportunities to learn something new. 
	                    </p>
	
						<p>
	                    On programming free time I like to research, finding new new solutions and approaches and implementing 
	                    new ideas that I have during research or finding some feature in another language, and try to provide 
	                    similar or maybe better solution in java.
	                    </p>
						
						<p>
						Computer science and mostly programming start to interest me in primary school where I started learning Basic 
						and short after Microsoft Visual Basic. 
						After while in High school and College there was C/C++ and more Visual Basic and some PHP and couple of databases, 
						and then it comes…
	                    </p>
						
						<p>
						beginning of the end or awakening, whatever you wanna call it, 
						I have coffee in one hand and Java in another.  Love at first sight.
	                    <br/>
						<a href="blog">Now the story begins…</a>
	                    </p>
						
						<br/>
						<span>Point of interests and specialities:</span>
						<ul>
						   <li>Java</li>
						   <li>software engineering, software architecture</li>
						   <li>finding best practice and new approaches</li>
						   <li>design patterns, API design</li>
						   <li>web applications and development in cluster environment</li>
						   <li>application performance</li>
						   <li>test driven development</li>
						   <li>Databases, SQL and lately NoSql</li>
						</ul>
					</div>
				</div>
	
			</div>
	
		</section>
     </div>
  </body>
</html>
