<div layout:decorator="base/wrapper" layout:fragment="content">

	<section id="blogs">
		<div class="row">
			<div class="column span_9">

				<div th:each="article : ${articles}" th:if="${article.getMetadata().isPublished()}" class="blog_box">
				    <div class="blog_title">
						<a th:href="${article.getUrl()}" class="h4" th:text="${article.getMetadata().getTitle()}">Article title</a>
						<br/>
						<span class="posted" th:text="${article.getMetadata().getFormatPublishDate()}"><img th:src="@{/resources/images/clock_16.png}"/>YYYY-MM-DD</span>
 						<span class="tags" th:each="tag : ${article.getMetadata().getTags()}">
                            <span class="tag" th:text="${tag}">TAG</span>
                         </span>
				    </div>

                    <hr />

                    <div class="content">
                        <p th:utext="${article.getMetadata().getDescription()}">

                        </p>
                        
                        <a th:href="${article.getUrl()}">Read more…</a>
                    </div>
				</div>
				
			</div>

			<div th:replace="base/_right_content :: right_content"></div>

		</div>
	</section>




</div>
