<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base/wrapper">
  <head>
    <title>Davor Sauer : Portfolio</title>
  </head>
  <body>
    <div layout:fragment="content">
		<section id="portfolio">
			<div class="row">
				<div class="column span_12">
					<div id="portfolio_box">
						<h5>
							<span>Portfolio</span>
						</h5>
						<br/>
						<div class="row" th:utext="${portfolio_content}">
	
						</div>
					</div>
				</div>
			</div>
		</section>
	
		
	   <script th:replace="base/_scripts :: jquery" />
	   <script th:replace="base/_scripts :: jquery_more_less" />
	
	</div>
  </body>
</html>
