<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base/wrapper">
  <head>
    <title>Davor Sauer : Portfolio</title>
  </head>
  <body>
    <div layout:fragment="content">
		<section id="portfolio">
			<div class="row">
				<div class="column span_12">
					<div id="portfolio_box">
						<h5>
							<span>Portfolio</span>
						</h5>
						<br/>
						<div class="row">
	
							<a href="https://github.com/d-sauer/JCalcAPI" class="point_github" target="_blank"></a>
							<a href="https://github.com/d-sauer/JCalcAPI" target="_blank" class="link">
								<span class="jannotation">2014</span>
								<span class="jannotation2">JCalcAPI</span>
							</a>
		                    <div  class="margleft_a">
			                    <p>
			                       Fluent Java API for easier work with numbers, writing formula and calculations in Java.
			                    </p>	
			                          
			                    <p>
			                      Tech: <span class="cgreen">Java, JUnit, Eclipse</span>
			                      <br/>
			                      Web: <a class="lnk1" href="http://www.jdice.org" target="_blank">jdice.org</a>
			                    </p>			
		                    </div>
	
	
							<a href="https://github.com/d-sauer/Sensor" class="point_github" target="_blank"></a>
							<a href="https://github.com/d-sauer/Sensor" target="_blank" class="link">
								<span class="jannotation">2012</span>
								<span class="jannotation2">Sensor</span>
							</a>
		                    <div  class="margleft_a">
			                    <p>
			                       Web application for gathering, representing sensor data and send daily report over SMS.
								   With small java/javascript framework which allow manipulation of DOM element 
								   with java through ajax calls. 
								   <a class="more" more_content="more_sensor" more_hide_text="more..." more_show_text="less...">more...</a>
			                    </p>	
			                    <div class="more_content" id="more_sensor">
								   <p>
	                                    Application has administration section where user can configure BulkSMS account, configure schedule for 
	                                    daily report and configure alert when specific sensor data meet defined criterias.
	                                    User also can configure sensor input in form of FTP server from where application download sensor data 
	                                    and allow user to map which data is related to which sensor. 
								   </p>
								</div>
			                    <p>
			                      Tech: <span class="cgreen">Java, PlayFramework, Postgresql, BulkSMS, Eclipse, html, javascript, D3js, less</span>
			                    </p>			
		                    </div>
		                    
		                    
							<a href="https://github.com/d-sauer/ShoppingPlanner" class="point_github" target="_blank"></a>
							<a href="https://github.com/d-sauer/ShoppingPlanner" target="_blank" class="link">
								<span class="jannotation">2010</span>
								<span class="jannotation2">Shopping planner</span>
							</a>
		                    <div  class="margleft_a">
			                    <p>
			                       Android application for creating and planning different shopping list and their cost.
			                    </p>	
			                    <p>
			                      Tech: <span class="cgreen">Java, Eclipse, Android</span>
			                    </p>			
		                    </div>
		                    
		                    
							<a href="https://github.com/d-sauer/ThesisDissertation" class="point_github" target="_blank"></a>
							<a href="https://github.com/d-sauer/ThesisDissertation" target="_blank" class="link">
								<span class="jannotation">2009</span>
								<span class="jannotation2">Master thesis dissertation - Developing Web Service using SOA</span>
							</a>
		                    <div  class="margleft_a">
			                    <p>
			                       Thesis dissertation with written work and application example. Application example
								   consist of two web services and web application planned and implemented by SOA principles.
			                    </p>	
			                    <p>
			                      Tech: <span class="cgreen">
			                                  Java, JSP, NetBeans, MySql, GlassFish, Apache Tomcat, Axis2, JAX-WS, 
	                                          Google Maps, Linux Slax (for creating live cd with preconfigured environment)
	                                    </span>
			                    </p>			
		                    </div>
		                    
		                    
		                    <a href="https://github.com/d-sauer/ecawdws" class="point_github" target="_blank"></a>
		                    <a href="https://github.com/d-sauer/ecawdws" target="_blank" class="link">
			                    <span class="jannotation">2009</span>
		                        <span class="jannotation2">ecawdws</span>
		                    </a>
	                        <div  class="margleft_a">
	                            <p>
	                               College project, web application with two web services for gathering and 
	                               representing weather information from WeatherBug.
	                               <a class="more" more_content="more_ecawdws" more_hide_text="more..." more_show_text="less...">more...</a>
	                            </p>   
	                            <div class="more_content" id="more_ecawdws">
								   <p>
	        						  System have two web services, one for serving weather data with background job for collecting data from WeatherBug
	        						   web service, and other service for user authentication. 
	        						  And web application which use those two service. 
	        						  With feature of sending command on e-mail of user service and responding to received commands.
								   </p>
								</div> 
	                            <p>
	                              Tech: <span class="cgreen">Java, JSP, NetBeans, MySql, GlassFish, Apache Tomcat, Axis2, JAX-WS</span>
	                            </p>            
	                        </div>
	
	
		                    <a href="https://github.com/d-sauer/StorehouseManager" class="point_github" target="_blank"></a>
		                    <a href="https://github.com/d-sauer/StorehouseManager" target="_blank" class="link">
			                    <span class="jannotation">2009</span>
		                        <span class="jannotation2">Storehouse Manager</span>
		                    </a>
	                        <div  class="margleft_a">
	                            <p>
	                               College project, Swing application for business management of store house.
	                               <a class="more" more_content="more_storehousemanager" more_hide_text="more..." more_show_text="less...">more...</a>
	                            </p>    
	                            <div class="more_content" id="more_storehousemanager">
	                               <p>
	                                  Application support: 
	                                  <ul>
	                                    <li>registering employers (users)</li> 
										<li>registry of business partners</li>
										<li>creating offer for sale and finalizing sale</li>
	                                  </ul>
	                               </p>
	                            </div>
	                            <p>
	                              Tech: <span class="cgreen">Java, Swing, JasperReports, NetBeans, MySql</span>
	                            </p>            
	                        </div>
	
	
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/PHP/jelen-nasice" class="point_github" target="_blank"></a>
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/PHP/jelen-nasice" target="_blank" class="link">
		   	                    <span class="jannotation">2008</span>
		                        <span class="jannotation2">jelen-nasice.hr</span>
		                    </a>
	                        <div  class="margleft_a">
	                            <p>
	                               Web page with small CMS for local hunting associations
	                            </p>    
	                            <p>
	                              Tech: <span class="cgreen">PHP, html, css, JavaScript, MySql</span>
	                            </p>            
	                        </div>
	
	
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/PHP/PzaWeb_Booking" class="point_github" target="_blank"></a>
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/PHP/PzaWeb_Booking" target="_blank" class="link">
		   	                    <span class="jannotation">2008</span>
		                        <span class="jannotation2">Online Booking</span>
		                    </a>
	                        <div  class="margleft_a">
	                            <p>
	                               College project, team effort in planning and implementing web online booking for 
	                               hotels, hostels and camping. With CMS for booking owners and front-end for end users.
	                            </p>    
	                            <p>
	                              Tech: <span class="cgreen">PHP, html, css, JavaScript, MySql</span>
	                            </p>            
	                        </div>
	                        
	                        
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/ProductionPlaning" class="point_github" target="_blank"></a>
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/ProductionPlaning" target="_blank" class="link">
		   	                    <span class="jannotation">2008</span>
		                        <span class="jannotation2">Production Planning</span>
		                    </a>
	                        <div  class="margleft_a">
	                            <p>
	                               College project, application for Enterprise resource planning (ERP) of defined series 
								   of products. Support for defining series of product, raw materials, ingredients and 
								   quantities, suppliers, production planning and demands, master production plan, 
								   defining orders, MRP, RCCP, CRP.
								   <a class="more" more_content="more_ProductionPlanning" more_hide_text="more..." more_show_text="less...">more...</a>
	                            </p>  
	                            
	                            <div class="more_content" id="more_ProductionPlanning">
	                               <p>
	                                  Application support: 
	                                  <ul>
	                                   <li>defining products</li>
	                                    <li>defining product raw materials</li>
	                                    <li>defining suppliers</li>
	                                    <li>defining products ingredients and quantities</li>
	                                    <li>production planning and demands</li>
	                                    <li>master production plan</li>
	                                    <li>defining orders</li>
	                                    <li>MRP (material resource planning)</li>
	                                    <li>RCCP (Rough-Cut Capacity Planning)</li>
	                                    <li>CRP (Capacity Requirement Planning)</li>
	                                  </ul>
	                               </p>
	                            </div>
	                              
	                            <p>
	                              Tech: <span class="cgreen">Visual Basic .Net, MS Sql</span>
	                            </p>            
	                        </div>
	
	
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/Dentist" class="point_github" target="_blank"></a>
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/Dentist" target="_blank" class="link">
		   	                    <span class="jannotation">2007</span>
		                        <span class="jannotation2">Dentist</span>
	                        </a>
	                        <div  class="margleft_a">
	                            <p>
	                               College project, application for dental clinic. From patients registration, physicians
	                               registration, associated activities, timetable planning, booking and billing.
	                            </p>    
	                            <p>
	                              Tech: <span class="cgreen">Visual Basic .Net, MS Sql</span>
	                            </p>            
	                        </div>
	
	
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/WindowCutter" class="point_github" target="_blank"></a>
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/WindowCutter" target="_blank" class="link">
		   	                    <span class="jannotation">2006</span>
		                        <span class="jannotation2">WindowCutter</span>
		                    </a>
	                        <div  class="margleft_a">
	                            <p>
	                               College project, Visual Basic code generator for cutting window in drawn form
	                            </p>    
	                            <p>
	                              Tech: <span class="cgreen">Visual Basic 6, MS Windows API</span>
	                            </p>            
	                        </div>
	
	
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/CDArchiver" class="point_github" target="_blank"></a>
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/CDArchiver" target="_blank" class="link">
		   	                    <span class="jannotation">2006</span>
		                        <span class="jannotation2">CDCollector</span>
		                    </a>
	                        <div  class="margleft_a">
	                            <p>
	                               College project, application for cataloguing digital media for easier and quicker 
								   finding relevant media. With feature to scan mp3 files tags and group files by music 
								   genre, artist, albums and other tag information.
	                            </p>    
	                            <p>
	                              Tech: <span class="cgreen">Visual Basic 6, MS Access DB</span>
	                            </p>            
	                        </div>
	                        
	                        
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/MixMaxStudio" class="point_github" target="_blank"></a>
	   	                    <a href="https://github.com/d-sauer/earlyWorks/tree/master/VB/MixMaxStudio" target="_blank" class="link">
		   	                    <span class="jannotation">2000</span>
		                        <span class="jannotation2">MixMaxStudio</span>
	                        </a>
	                        <div  class="margleft_a">
	                            <p>
	                               Application for mixing music
	                            </p>    
	                            <p>
	                              Tech: <span class="cgreen">Visual Basic 6</span>
	                            </p>            
	                        </div>
	
	
	   	                    <div class="point"></div><span class="jannotation">1999</span>
	                        <span class="jannotation2">Solar system</span>
	                        <div  class="margleft_a">
	                            <p>
	                               Educational application about Solar system with small quiz.
	                            </p>    
	                            <p>
	                              Tech: <span class="cgreen">Visual Basic 6</span>
	                            </p>            
	                        </div>
		                    
		                    
						</div>
					</div>
				</div>
			</div>
		</section>
	
		
	   <script th:replace="base/_scripts :: jquery" />
	   <script th:replace="base/_scripts :: jquery_more_less" />
	
	</div>
  </body>
</html>
