<section id="copyright" th:fragment="copyright">
	<div class="row bottom bottom_page">
		<div class="container">
			<div class="row">
				<div class="column social_media" style="float: left">
					<a href="http://hr.linkedin.com/pub/davor-sauer/10/820/110/"><img th:src="@{/resources/images/social_icons/linkedin2.png}" /></a>
					<a class="paddleft_b" href="https://twitter.com/davor_sauer"><img th:src="@{/resources/images/social_icons/twitter.png}" /></a>
					<a class="paddleft_b" href="https://github.com/d-sauer"><img th:src="@{/resources/images/social_icons/github2.png}" /></a>
<!-- 					<a class="paddleft_b" href="https://bitbucket.org/d-sauer"><img th:src="@{/resources/images/social_icons/bitbucket.png}" /></a> -->
				</div>
<!-- 				<div class="column copyrights" style="float: right"> -->
<!-- 					<p class="first_p"> -->
<!-- 						<a href="contact">Davor Sauer</a> -->
<!-- 						<br/> -->
<!-- 						<a href="contact">davor.sauer@gmail.com</a> -->
<!-- 					</p> -->
<!-- 				</div> -->
			</div>
		</div>
	</div>
</section>


<section id="footer" layout:fragment="footer">
	<div class="row">
		<div class="row" layout:fragment="footer-content">Empty footer</div>
	</div>
</section>