<section id="header" th:fragment="header">
	<div class="row">
		<div id="main_menu" class="column span_12">
		    <div class="main_logo">
                <a th:href="@{/}" title="Blogspot"><img th:src="@{/resources/images/logo2.png}" alt="" title="" /></a>
		    </div>
		    <div class="main_logo_label">
		      Techspot blog...
		    </div>
			
			<nav role="navigation">
				<ul class="menu">
					<li th:class="${#strings.length(#ctx.httpServletRequest.getRequestURI()) - 1} == ${#strings.length(#ctx.httpServletRequest.contextPath)} ? 'current' : ''"><a th:href="@{/}">Blog</a></li>
					<li th:class="${#strings.startsWith(#ctx.httpServletRequest.getRequestURI(),#ctx.httpServletRequest.contextPath + '/about') } ? 'current' : ''"><a th:href="@{/about}">About</a></li>
				</ul>

				<div id="select_nav">
					<select onchange="if(this.options[this.selectedIndex].value != ''){window.top.location.href=this.options[this.selectedIndex].value}">
						<option th:value="@{/}">Navigate to:</option>
						<optgroup label="Blog">
    						<option th:value="@{/blog/spring_disable_browser_cache_control_during_development}">Spring disable browser cache control during development</option>
    				    </optgroup>
						<option th:value="@{/about}">About</option>
					</select>
				</div>
			</nav>
		</div>
	</div>
</section>

