<div th:fragment="right_content" class="column span_3">
	<div class="row">
		<div class="column span_12">
			<section id="recommended">
				<h5 class="border">
					<span>Recommended</span>
				</h5>
				<ul>
				 <li><a href="http://www.jdice.org/" target="_blank">JCalc</a></li>
				 <li><a href="http://www.evolution-framework.com/" target="_blank">Evolution Framework</a></li>
				 <li><a href="http://www.dzone.com/" target="_blank">dzone</a></li>
				 <li><a href="http://www.javacodegeeks.com/" target="_blank">Java Code Geeks</a></li>
				 <li><a href="http://www.mkyong.com/" target="_blank">Mkyong.com</a></li>
				 <li><a href="http://java67.blogspot.in/" target="_blank">Java67</a></li>
				 <li><a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html" target="_blank">Java 8</a></li>
				</ul>
			</section>
		</div>
	</div>

<!-- 	<div class="row"> -->
<!-- 		<div class="column span_12"> -->
<!-- 			<h5 class="border"> -->
<!-- 				<span>Recent post</span> -->
<!-- 			</h5> -->
<!-- 		</div> -->
<!-- 	</div> -->

<!-- 	<div class="row"> -->
<!-- 		<div class="column span_12"> -->
<!-- 			<h5 class="border"> -->
<!-- 				<span>Archive</span> -->
<!-- 			</h5> -->
<!-- 		</div> -->
<!-- 	</div> -->


</div>