<script th:fragment="jquery" type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

<script th:fragment="jquery_more_less" type="text/javascript" th:src="@{/resources/scripts/jquery.more_less.js}"></script>

<script th:fragment="jquery_superfish" type="text/javascript" th:src="@{/resources/scripts/jquery.superfish.js}"></script>

<script th:fragment="jquery_masonry" type="text/javascript" th:src="@{/resources/scripts/jquery.masonry.min.js}"></script>

<script th:fragment="jquery_isotope" type="text/javascript" th:src="@{/resources/scripts/jquery.isotope.min.js}"></script>

<script th:fragment="jquery_nivo" type="text/javascript" th:src="@{/resources/scripts/jquery.nivo.js}"></script>

<script th:fragment="jquery_custom" type="text/javascript" th:src="@{/resources/scripts/jquery.custom.js}"></script>

<script th:fragment="jquery_serializeJSON" type="text/javascript" th:src="@{/resources/scripts/jquery.serializeJSON.min.js}"></script>

<script th:fragment="prettify" type="text/javascript" th:src="@{/resources/scripts/prettify.js}"></script>